doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/MyCss.css')
  body
    block content
  footer
    script(src='/js/parallaxTiltEffect.js')